.element-preview {
    padding: 32px 16px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.element-preview__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: var(--grey-4);
    margin: 0 0 24px;
}

.element-preview__image {
    width: 100%;
}

@media (min-width: 768px) {
    .element-preview__title {
        font-size: 28px;
    }
    
    .element-preview {
        padding: 32px 48px;
    }

    .element-preview__image {
        width: auto;
    }
}