/* Стилизация аккордеона */
.accordion {
    max-width: 730px;
}

.accordion__summary::-webkit-details-marker,
.accordion__summary::marker { 
    display: none;
}

.accordion__item {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 23px 32px;
}

.accordion__item[open] {
    padding-bottom: 16px;
 }

.accordion__item {
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    color: var(--black);
    list-style: none;
    font-family: 'Inter';
    position: relative;
}

.accordion__summary:hover {
    cursor: pointer;
}

.accordion__arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    transition: .5s all;
}

.accordion__item[open] .accordion__arrow{
    transform: rotate(180deg);
}

.accordion__content {
    color: var(--grey-4);
    font-family: 'Inter';
}

