.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background: rgba(196, 196, 196, 0.5);
}

.modal__window {
    position: absolute;
    background: var(--white);
    max-width: 428px;
    border-radius: 8px;
    padding: 30px 40px;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    margin-bottom: 14px;
}

.modal__content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.modal__close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
}

.modal__close:hover {
    opacity: .8;
}