.checkbox {
    display: inline-block;
    position: relative;
}

.checkbox__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}

.checkbox__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    background: var(--white);
    border-radius: 4px;
    position: relative;
}

.checkbox__label {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
}

.checkbox__icon {
    width: 15px;
    height: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox__state {
    display: flex;
    align-self: center;
    gap: 12px;
    cursor: pointer;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue);
    border-color: var(--blue);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__icon {
    display: none;
}