.text-field {
    display: inline-flex;
    flex-direction: column;
}

.text-field__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    padding-bottom: 5px;
}

.text-field__state {
    display: inline-block;
    position: relative;
}

.text-field__input {
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding: 17px 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.icon {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.icon_invalid {
    color: var(--red);
}

.icon_success {
    color: #374FC7;
}


.text-field__input::placeholder {
    color: var(--grey-2)
}

.text-field__input:focus,
.text-field_success .text-field__input {
    outline: none;
    border: 1px solid var(--blue);
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
    border-radius: 8px;
}

.text-field_success .icon_success {
    display: block;
}

.text-field_invalid .icon_invalid {
    display: block;
}

.text-field_invalid .text-field__input,
.text-field_invalid .text-field__input:focus {
    border: 1px solid #F03D3E;
    box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
    border-radius: 8px;
}

